/AmericanFlag/target/
/BinaryToDecimal/target/
/LineLength/target/
/ReverseString/target/
/DivisorNumber/target/
/CapslockLetters/target/
/PrimeNumberTotal/target/
/SquareTriangle/target/
/ClosestLogn/target/
/LeapYear/target/
/JavaEnv/target/
/SolveFunction/target/
/CompareDigits/target/
